@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

@keyframes scan {
    0% { background-position: 0% 0%; }
    100% { background-position: 0% 100%; }
}

@keyframes scrollDown {
    0% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(12px); opacity: 0; }
}

.animate-scroll-down {
    animation: scrollDown 2s infinite;
}
